:root {
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-black-variant: rgb(103, 103, 103);
    --width: 84%;
    --mobile-width: 90%;
    --mainTransition: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: var(--color-black);
    background: var(--color-white);
    overflow-x: hidden;
}

.container {
    width: var(--mobile-width);
    margin: 0 auto;
}

/* img {
    width: 100%;
} */

a {
    color: var(--color-black);
    transition: all 300ms ease;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-black);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

p {
    line-height: 1.6rem;
}

.btn {
    padding: 1rem 2rem;
    border: none;
    border-style: 1px solid var(--color-black);
    cursor: pointer;
    color: var(--color-black);
    background-color: var(--color-white);
    transition: all 300ms ease;
}

.btn:hover {
    background-color: var(--color-black);
    color: var(--color-white)
}

/* section {
    max-width: 1200px;
    padding: 12rem 0 0;
} */

/* =================== NAVBAR ==================== */
nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
    background: var(--color-white);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav button {
    cursor: pointer;
}

nav .container .main-nav {
    display: flex;
    gap: 2px;
    position: fixed;
    top: 5rem;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background: var(--color-white);
    height: calc(100vh - 5rem);
    transition: var(--mainTransition);
    transform: translateX(-100%);
}

nav .container .showSideBar {
    transform: translateX(0%);
}

nav .container .top-nav ul li {
    height: 2.5rem;
    display: flex;
    align-items: center;
}

nav .container .top-nav ul li a {
    width: 100%;
    padding-left: 1rem;
    padding-top: 1rem;
}

nav .container .top-nav ul li a:hover {
    color: var(--color-black-variant)
}

nav .container .inner-nav ul li a {
    width: 100%;
    padding-left: 3rem;
}

nav .container .bottom-nav {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

nav .container .bottom-nav ul li {
    padding-left: 1rem;
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

nav .container .bottom-nav ul li a:hover {
    color: var(--color-black-variant);
}

nav .container .bottom-nav .copyright {
    margin: 0 auto;
    font-size: 0.8rem;
}

nav .nav-logo {
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cardo', serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
}

nav .icons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

nav .bag-btn {
    position: relative;
    cursor: pointer;
    text-align: left;
}

nav .bag-items {
    position: absolute;
    top: -12px;
    left: 15px;
    padding: 0 5px;
    font-size: 0.7rem;
    text-align: left;
}

nav button {
    background-color: transparent;
}

nav button.close-btn {
    display: none;
}


/* ========================== CART =========================+ */
.cart-overlay {
    position: fixed;
    top: 5rem;
    right: 0;
    width: 100%;
    height: calc(100vh - 5rem);
    /* transition: var(--mainTransition); */
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    visibility: hidden;
}

.transparentBkg {
    visibility: visible;
}

.cart-content {
    max-height: 40vh;
    overflow: scroll;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cart {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 5rem;
    width: 100%;
    height: auto;
    overflow: scroll;
    z-index: 3;
    background: var(--color-white);
    padding: 0 1.5rem;
}

.cart-container {
    display: none;
    z-index: 3;
}

.showCart {
    display: block;
}

.no-scroll {
    overflow: hidden;
}

/* =========== INDIVIDUAL CART ITEM ============= */
.cart-item {
    /* background-color: red; */
    display: grid;
    /* align-items: center; */
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid;
}

.cart-item .product {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.cart-item {
    font-size: 0.8rem;
}

.item-edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.remove-item {
    height: 15px;
    width: 15px;
}

.item-counter {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.decrement-item,
.increment-item {
    height: 8px;
    width: 8px;
}

.item-amount {
    font-size: 0.6rem;
    line-height: 0.6rem;
}


/* ================== CART FOOTER DETAILS =============== */

.cart-details {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.order-value,
.shipping,
.tax,
.order-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.checkout-btn {
    margin: 0 auto;
    background-color: transparent;
    padding: 0.6rem 3rem;
    text-transform: uppercase;
    font-size: 1rem;
    transition: var(--mainTransition);
    border: 1px solid var(--color-black);
    cursor: pointer;
    margin-bottom: 2rem;
}

.checkout-btn:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}



/* ======================= FEATURED PRODUCTS ======================== */

.all-products {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* background: pink; */
}

.section-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    align-items: center;
}

.section-title h1 {
    text-transform: uppercase;
}

.section-title p {
    text-transform: capitalize;
    font-size: 0.8rem;
}

.load-more-btn {
    margin: 0 auto;
    background-color: transparent;
    padding: 0.6rem 3rem;
    text-transform: uppercase;
    font-size: 1rem;
    transition: var(--mainTransition);
    border: 1px solid var(--color-black);
    cursor: pointer;
    margin-bottom: 2rem;
}

.load-more-btn:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

.product-container {
    /* background: blue; */
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    padding-bottom: 2.5rem;
}

article img {
    height: 150px;
    width: auto;
}

article h3 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

article h4 {
    font-size: 0.7rem;
}



/* ===================== FOOTER ========================== */
footer {
    height: auto;
    width: 100;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 2rem 3rem;
}

.footer-nav ul li:not(:last-child) {
    padding-bottom: 0.6rem;
}

.footer-nav a {
    font-size: 0.8rem;
    color: var(--color-white);
}

.footer-icons {
    display: flex;
    gap: 0.5rem;

}

/* ========================== MEDIA QUERIES ========================= */